*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #222222;
}
.logo img{
    height: 56px;
}
.list ul{
    display: flex;
    gap: 25px;
    margin-top: 10px;
}
.list ul li{
    list-style: none;
}
.list ul li i{
    font-size: 0.6rem;
}
.ic{
    font-size: 1.2rem;
    
}
.ic i{
    margin-left: 15px;
}
.first{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
    margin: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first span{
    font-size: 48px;
}
.first p{
    font-size: 23px;
    width: 60vw;
    text-align: center;
}
.btn{
    color: white;
    background-color: #00B6D1;
    padding: 14px 16px;
    border: none;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 17px;
    margin: 12px 0;
    cursor: pointer;
}
.second{
    max-width: 60vw;
    padding-bottom: 50px;
    margin: auto;
}
.small{
    font-size: 12px;
}
.green{
    background-color: #5CB85C;
    padding: 8px 16px;
    font-size: 12px;
}
.iteam{
    padding: 13px;
    background: #F9F9F9;
    border-radius: 6PX;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.iteam p{
    font-size: 8px;
    margin: 0;
}
.iteam .k{
    font-size: 12px;
}
.lang{
    padding-bottom: 16px;
    text-align: center;
    font-weight: 700;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.big{
    font-size: 24px;
}
.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}
@media screen and (max-width: 1000px) {
    .grid{
        
        grid-template-columns: 1fr;
        
    }
}
.three{
    padding: 48px 0;
    background-color: #222222;
}
.three .b1{
    margin: 0px 279.6px;
    padding: 24px 0;
    color: #F9F9F9;
    font-family: sans-serif;
    text-align: center;
    display: flex;
}
.three .b1 .box{
    height: 210px;
    width: 405px;
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 30px 35px;
    margin: 0px 56px 24px;
    
}
.three .b1 .box h3{
    color: #00B6D1;
    font-size: 24px;
    padding: 0px 0px 30px;
    margin: 0;
}
.three .b1 .box label{
    color: #222222;
    font-size: 14.4px;
}
.three .b1 .box input{
    padding: 10px;
    width: 275px;
    height: 25px;
}
.three .b1 .box .sign{
    padding: 15px 113px;
}
.three .box2{
    margin: 0px 279.6px;
    padding: 24px 0;
    color: #F9F9F9;
    font-family: sans-serif;
}
.three .box2 p a{
    text-decoration: none;
    color: #00B6D1;
}
footer{
    
    padding: 48px 0px;
    margin: 0px 184px;
}
footer .f1{
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}
.foot{
    width: 200px;
}
.foot h4{
    padding: 0px 0px 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
}
.foot ul {
    
    list-style: none;
    
}
.foot ul a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.foot ul a li{
    margin-bottom: 5px;
}
.foot input{
    padding: 10px 16px;
    margin-top: 10px;
}
.foot p{
    color: #222222;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btf{
    margin: 10px 0px;
    padding: 10px 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.333px;
}
.f2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 20px;
    margin: 0px 80px;
}
.ico i{
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;
    
}
.last{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
    margin: 0px 80px;
}
